/* Mohammad reza ahmadi */
@font-face {
    font-family: Shabnam;
    src: url('./Fonts/Shabnam.eot');
    src: url('./Fonts/Shabnam.woff') format('woff'),
         url('./Fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('Shabnam-Light.eot');
    src: url('./Fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  
  @font-face {
    font-family: Shabnam;
    src: url('Shabnam-Light.eot');
    src: url('./Fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
  }
  

/* div {
    border: 1px red solid;
} */


body {
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    height: 100vh;
}
.dashboard {
    position: relative;
    width: 85%;
    right: 15%;
    display: grid;
    grid-template-rows: 2fr 8fr;
}
.navbar {
    width: 15%;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-rows: 2fr 1fr 7fr;
}
.main {
    display: grid;
    grid-template-columns: 6fr 4fr;
}
.leftSide {
    display: grid;
    grid-template-rows: 60% 40%;
}
.rightSide {
    display: grid;
    grid-template-rows: 60% 40%;
}
.header {
    display: flex;
    justify-content: space-evenly;
}
.center {
    margin: 1rem;
}
.card {
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
    background-color: white;
    border-radius: .5rem;
}

.textArea {
    background: rgb(123,130,244);
background: linear-gradient(63deg, rgba(123,130,244,1) 0%, rgba(66,63,251,1) 92%);
}
/* header items */
.item {
    width: 25%;
    display: grid;
    grid-template-columns: 70% 30%;

}

.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.A .pic {
    background: rgb(104,112,246);
background: linear-gradient(135deg, rgba(104,112,246,1) 2%, rgba(188,83,213,1) 97%);
    
}

.B .pic {
    background: rgb(250,229,106);
background: linear-gradient(135deg, rgba(250,229,106,1) 29%, rgba(238,140,42,1) 100%);
}

.C .pic {
    background: rgb(250,106,133);
background: linear-gradient(135deg, rgba(250,106,133,1) 29%, rgba(238,42,42,1) 100%);
}

.D .pic {
    background: rgb(113,225,236);
    background: linear-gradient(135deg, rgba(113,225,236,1) 0%, rgba(105,126,238,1) 100%);
}

.text {
    font-family: 'Shabnam';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    font-size: 1rem;
}

.text-up {
    font-size: 1rem;
    font-weight: 200;
}
.text-middle {
    font-size: 1.5rem;
    font-weight: 400;
}
.text-bottom {
    font-size: .85rem;
    font-weight: 200;
}

/* header items finished */

/* navbar */

.navbar {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(184, 184, 184);
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Shabnam';
    color: rgba(100, 23, 223, 0.856);
}

.time {
    font-size: 3rem;
    font-weight: 100;
}

.information {
    font-family: 'Shabnam';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-img {
    margin-left: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: rgb(250,106,133);
}

.menu {
    display: flex;
    flex-direction: column;
    font-family: 'Shabnam';
    width: 80%;
    line-height: 4rem;
}
.menu ul {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(160, 158, 158);
}
.fa {
    margin-left: .75rem;
}

.dropIcon {
    float: left;
    
}

/* navbar finished */

.options {
    height: fit-content;
}

.options ul, .inbox ul, .performance ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    font-family: 'Shabnam';
    color: rgb(168, 168, 168);
    font-weight: lighter;
}

.options li, .inbox li, .performance li {
    margin: 0 20px;
}

.notification {
    display: inline;
}

.notification p {
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-size: px;
    display: inline;
    color: black;
}

.performance ul {
    justify-content: space-between;
}

.dropdown {
    font-family: 'Shabnam';
    padding: .5rem;
    border-radius: 5px;
    background-color: white;
}

.performance select:hover {
    border-color: rgb(68, 0, 255);
}

.inbox ul {
    border-bottom: 1px rgb(233, 226, 226) solid;
}

.textAreaIcon {
    float: left;
    margin: 1rem;
    font-size: 2rem;
    color: white;
}


/*//////////////////NEW CHANGEs///////////////*/

.table {
    /* border: 1px black solid; */
    font-family: 'Shabnam';
    width: 100%;
    border-collapse: collapse;
}

.table th, td, tr {
    height: 68px;
    border-bottom: 2px #F8F8F8 solid;
}


.table th {
    font-size: 16px;
    text-align: right;
    font-weight: 500;
    background-color: #F8F8F8;
}

.table div {
    margin: 1px 2px;
}


.table-color {
    height: 40px;
    width: 8px;
    background-color: rgb(85, 32, 233);
    border-radius: 5px;
}
/* First Cell */

.first-cell {
    display: flex;
    flex-direction: column;
}

.fc-upper-text {

}

.fc-lower-text {
    display: flex;
    flex-direction: row;
    font-weight: 100;
    font-size: 12px;
}

.fc-message-type {
    display: flex;
}

.fc-type {
    width: 15px;
    height: 15px;
    background-color: rgb(209, 209, 209);
    border-radius: 2px;

}

.fc-message-pins {
    color: blue;
}

/* Second Cell */

.second-cell {
    display: flex;
}

.sc-pic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(98, 218, 98);
}

.sc-upper-text {
    font-size: 14px;
    color: grey;
}

.sc-lower-text {
    font-size: 12px;
    color: grey;
}

/* Third Cell */

.third-cell {
    display: flex;
}

.tc-priority-pic {
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 5px;

}

/* Forth cell */

